<body>
  <form>
    <section id="dropdown">
      <div class="container text-center">
        <div class="row">
          <div class="col text-center">
            <h2>Covid 19 Tracker</h2>
          </div>
        </div>
        <div class="row">
          <div class="col text-center md-3">
            <form>
              <div class="form-group">
                <select
                  (change)="userSelectedCountry($event.target.value)"
                  class="form-control"
                  id="country"
                >
                  <option selected value="global">Global</option>
                  <option
                    *ngFor="let country of countries"
                    value="{{ country }}"
                  >
                    {{ country }}
                  </option>
                </select>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <section id="detail">
      <div class="container text-center">
        <div class="row">
          <div class="col-md-3 md-2">
            <div class="card-body">
              <h3 class="card-title">Total Cases</h3>
              <p class="card-text-total">{{ data.cases | number }}</p>
              <p>Numbers of Total cases of COVID-19</p>
            </div>
          </div>
          <div class="col-md-3 md-2">
            <div class="card-body">
              <h3 class="card-title">Total Active</h3>
              <p class="card-text-Active">{{ data.active | number }}</p>
              <p>Numbers of Active cases of COVID-19</p>
            </div>
          </div>
          <div class="col-md-3 md-2">
            <div class="card-body">
              <h3 class="card-title">Total Recovered</h3>
              <p class="card-text-recovered">{{ data.recovered | number }}</p>
              <p>Numbers of Recovered cases of COVID-19</p>
            </div>
          </div>
          <div class="col-md-3 md-2">
            <div class="card-body">
              <h3 class="card-title">Total Deaths</h3>
              <p class="card-text-death">{{ data.deaths | number }}</p>
              <p>Numbers of deaths due to COVID-19</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </form>
</body>
